<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <contentSearch>
      <indexConfigurations>
        <indexUpdateStrategies>
          <restoredItemsUpdate type="Sitecore.Support.ContentSearch.Maintenance.Strategies.RestoredItemsUpdateStrategy, Sitecore.Support.383896">
            <param desc="database">master</param>
          </restoredItemsUpdate>
        </indexUpdateStrategies>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>